<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="/css/style.css">
  <%if(loggedIn) {%>
  <nav class="nav-bar"><a href="/auth/logout">logout</a></nav>
  <% } %>

</head>